@import '../../../styles/variables.scss';

.consentPage {
  padding: 60px 33px 0 23px;
  @media (max-width: 768px) {
    padding: 60px 0 0 0;
  }
}

.consentHeader,
.consentForm {
  flex-flow: nowrap;
  position: relative;
  width: 100%;
}

.consentHeader {
  width: 100%;
  background: #ffffff;
  border: 1px solid #f6f6f6;
  box-shadow: 0px 5px 40px rgba(9, 44, 76, 0.02);
  border-radius: 8px;
  padding: 32px;
  position: relative;
  z-index: 2;
  form {
    flex: 1;
  }
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchForm {
  background: #fcfcfc;
  padding: 5px 6px 5px 24px;
  border: 1px solid #f6f6f6;
  border-radius: 100px;

  > svg path {
    fill: #bdbdbd;
  }
}

.consentActions {
  margin: 0 0 0 16px;
  padding: 12px;
  background: #2022251a;
  border-radius: 4px;
  cursor: pointer;
  svg path {
    stroke: #202225;
  }
}

.inputSearchForm {
  flex: 1;
  :global {
    .ant-form-item-control-input {
      min-height: initial;
    }
  }
}

.inputSearch {
  border: none !important;
  border-radius: none !important;
  height: initial;
  padding: 0 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $black_color;

  ::-webkit-input-placeholder {
    /* Edge */
    color: rgba(0, 0, 0, 0.5);
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.5);
  }

  ::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}

.btnSearchConsent {
  padding: 7px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-weight: 700;
    font-size: 14px;
  }
  svg {
    margin-right: 10px;
    path {
      fill: #fff;
    }
  }
}

.btnCreateConsent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 26px;
  margin-left: 40px;
  span {
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px;
  }

  &:hover svg path {
    stroke: $color-white;
  }
}

.consentContent {
  margin: 110px 0 0;
  text-align: center;
  // border: 1px solid $black_color;
  // background-color: $white_color;
}

.pagination {
  padding: 12px 40px;

  div:nth-child(2n + 1) {
    cursor: pointer;
  }
}

.consentContentEmpty {
  .table {
    display: none;
  }
}
.table {
  text-align: center;
}

.btnActions {
  div,
  a {
    padding: 8px;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  div {
    background-color: rgba(207, 42, 43, 0.1);
    margin-right: 8px;
  }
  a {
    background-color: $color-gray5;
  }
}

.action {
  a {
    background: rgba(207, 42, 43, 0.1);
    border-radius: 4px;
    padding: 5.5px 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #cf2a2b;
  }
}
