@import './variables.scss';
@import './reset.scss';
@import '~antd/dist/antd.css';
@import './common.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.max-height {
  height: 100vh;
}

.min-height {
  min-height: 100vh;
}

.ml-12 {
  margin-left: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-44 {
  margin-bottom: 44px;
}

.mb-52 {
  margin-bottom: 44px;
}

// top
.mt-86 {
  margin-top: 86px;
}

.ant-layout {
  background: $color-primary-light;
}

// custom antd
.ant-form-item {
  margin: 0;
}

.ant-form-item-control-input {
  min-height: initial;
}

.ant-checkbox {
  .ant-checkbox-inner {
    width: 17px;
    height: 17px;
    border-width: 2px;
    border-color: $color-gray5;
  }
}
.ant-checkbox-checked::after {
  border-color:transparent;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $color-success;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: transparent;
  border-color: $color-success;

  &::after {
    border-color: $color-success;
  }
}

.ant-pagination {
  li.ant-pagination-item {
    border-radius: 4px;
    border: 1px solid $color-gray5;
    background: #FFFFFF;
    a {
      font-weight: 400;
      font-size: 14px;
      color: $color-gray5;
    }
  }
  li.ant-pagination-item.ant-pagination-item-active {
    border: 1px solid $color-primary;
    a {
      color: $color-primary;
    }
  }
  .ant-pagination-prev, .ant-pagination-next {
    border: 1px solid $color-secondary;
    svg path {
      stroke: $color-secondary;
    }
  }
  li.ant-pagination-prev.ant-pagination-disabled, li.ant-pagination-next.ant-pagination-disabled {
    border-color: $color-gray6;
    svg path {
      stroke: $color-gray6;
    }
  }
}

.ant-table.ant-table {
  text-align: center;
  box-shadow: 0px 5px 40px rgba(9, 44, 76, 0.02);
  border-radius: 8px;
  .ant-table-pagination.ant-pagination {
    margin: 24px 0;
  }
  .ant-table-thead {
    background-color: $color-white;

    .ant-table-cell {
      border-bottom: 1px solid $color-gray6;
      background-color: $color-white;
      font-weight: 700;
      font-size: 12px;
      color: $color-secondary;
    }

    .ant-table-cell:nth-child(2) {
      border-bottom: 1px solid $color-gray6;
    }

    .ant-table-cell:not(:last-child) {
      border-right: 1px solid transparent !important;
    }

    tr:last-child {
      .ant-table-cell:nth-child(2) {
        border-right: 1px solid transparent !important;
      }
    }
  }

  .ant-table-cell {
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    color: $color-gray3;

    &::before {
      display: none;
    }
  }

  .ant-table-tbody {
    .ant-table-cell {
      padding: 15px;
    }
    > tr.ant-table-row td {
      border-bottom: 1px solid $color-gray6;
    }
    > tr.ant-table-row td:not(:last-child) {
      border-right: 1px solid transparent !important;
    }
  }
}

tr.ant-table-expanded-row.ant-table-expanded-row-level-1 {
  .ant-table-cell {
    background-color: #fff;
  }
}

// Error form input
.ant-form-item-explain-error {
  text-align: left;
  color: $color-error;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover,
.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  border-color: $color-error;
}
