@import './variables.scss';
@import './reset.scss';
@import '~antd/dist/antd.css';
@import './common.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.max-height {
  height: 100vh;
}

.ml-12 {
  margin-left: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-44 {
  margin-bottom: 44px;
}

.mb-52 {
  margin-bottom: 44px;
}

// top
.mt-86 {
  margin-top: 86px;
}

// custom antd lib
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: unset;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  box-shadow: unset;
}
