$background-primary: #E5E5E5;
$white_color: #FFFFFF;
$black_color: #000000;

$grey_50: #383838;
$gray_500: #C4C4C4;
$grey_900: #121212;
$teal_600: #4BAAC4;
$teal_800: #00C5E0;
$white_500: #A0A0A0;
$background_button_light: #E0E0E0;
$background_sider: #1E1E1E;

// color
$color-primary: #CF2A2B;
$color-primary-dark: #A81E1F;
$color-primary-light: #FAFAFA;
$color-primary-light2: #FCFCFC;
$color-secondary: #092C4C;

$color-info: #2F80ED;
$color-success: #27AE60;
$color-warning: #E2B93B;
$color-error: #EB5757;

$color-black1: #000000;
$color-black2: #1D1D1D;
$color-black3: #282828;

$color-white: #FFFFFF;

$color-gray1: #333333;
$color-gray2: #4F4F4F;
$color-gray3: #828282;
$color-gray4: #BDBDBD;
$color-gray5: #E0E0E0;
$color-gray6: #f6f6f6;

// font-size
$font-size-heading1: 48px;
$font-size-heading2: 36px;
$font-size-heading3: 24px;
$font-size-heading4: 20px;
$font-size-body-large: 18px;
$font-size-body-normal: 16px;
$font-size-body-small: 14px;
$font-size-caption: 12px;


