$background-primary: #E5E5E5;
$white_color: #FFFFFF;
$black_color: #000000;

$grey_50: #383838;
$gray_500: #C4C4C4;
$grey_900: #121212;
$teal_600: #4BAAC4;
$teal_800: #00C5E0;
$white_500: #A0A0A0;
$background_button_light: #E0E0E0;
$background_sider: #1E1E1E;
