.modal {
  :global {
    .ant-modal-body {
      padding: 16px 24px;
    }
  }
}

.form {
  padding: 20px;

  button {
    margin-left: auto;
    display: block;
  }
}

.input {
  :global {
    .ant-form-item-row {
      justify-content: space-between;
      align-items: center;
    }

    .ant-form-item-label {
      margin: 0 !important;
      padding: 0 !important;
      font-weight: 700;
      font-size: 14px;
      color: #000000;
    }

    .ant-form-item-label > label {
      &:before {
        order: 1;
      }
    }

    .ant-form-item-control {
      max-width: 350px;
    }
  }
}
