@import '../../../styles/variables.scss';


// input form
.customInputFormItem {
  margin: 0;

  div[class="ant-col ant-form-item-label"] {
    line-height: 14px;

    label {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $grey_50;

      &::before {
        display: none !important;
      }
    }
  }
}

.customInputForm {
  // border: 1px solid $white_500;
  // border-radius: 16px;
  // padding: 12px 24px;
  // outline: none;
  // font-style: normal;
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 24px;
  // color: $white_500;
  // max-height: 48px;

  // &:focus {
  //   border: 1px solid $white_500;
  //   box-shadow: unset;
  // }

  // &:hover {
  //   border: 1px solid $white_500;
  // }
}

// input password
.customInputPasswordFormItem {
  margin: 0;

  div[class="ant-col ant-form-item-label"] {
    line-height: 14px;

    label {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $grey_50;

      &::before {
        display: none !important;
      }
    }
  }
}

.customInputPasswordForm {
  border: 1px solid $white_500;
  border-radius: 16px;
  padding: 12px 24px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $white_500;
  max-height: 48px;

  &:focus {
    border: 1px solid $white_500;
    box-shadow: unset;
  }

  &:hover {
    border: 1px solid $white_500;
  }

  input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $white_500;
  }
}
