@import '../../../styles/variables.scss';

// input form
.customInputFormItem {
  margin: 0;

  div[class='ant-col ant-form-item-label'] {
    line-height: 14px;
    margin: 0 0 6px;
    padding: 0 0 8px;

    label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: $color-gray4;

      // &::before {
      //   display: none !important;
      // }
    }
  }
}

// input password
.customInputPasswordFormItem {
  margin: 0;

  div[class='ant-col ant-form-item-label'] {
    line-height: 14px;
    margin: 0 0 6px;
    padding: 0;

    label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: $color-gray4;

      // &::before {
      //   display: none !important;
      // }
    }
  }

  :global {
    textarea {
      resize: none !important;
    }
  }
}

.customTextAreaFormItem {
  margin: 0;
  position: relative;

  div[class='ant-col ant-form-item-label'] {
    line-height: 14px;
    margin: 0 0 6px;
    padding: 0;

    label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: $color-gray4;

      // &::before {
      //   display: none !important;
      // }
    }
  }
  > div {
    position: relative;
  }

  :global {
    .ant-input-textarea-show-count {
      padding: 0;
      &:hover,
      &:focus {
        border-color: transparent;
      }
    }

    .ant-input-textarea-show-count::after {
      position: absolute;
      top: 70%;
      left: 4%;
      content: 'Characters' ' ' attr(data-count);
    }
  }
}

.uploadWrap {
  :global {
    .ant-upload-disabled button {
      cursor: not-allowed !important;
    }
  }
}

.uploadButton {
  border: none;
  position: absolute;
  right: 15px;
  top: 130px;
  &::after {
    display: none !important;
  }
}

.fileItem {
  padding: 8px 12px;
  border-radius: 40px;
  background-color: $color-gray3;
  color: $color-white;
  margin-right: 10px;
}

.btnDelete {
  cursor: pointer;
  margin-left: 8px;
}
