@import '../../../styles/variables.scss';

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  position: relative;
  background: $white_color;
  // max-height: 60px;
  box-sizing: border-box;

  .logoView {
    display: flex;
    align-items: center;

    .navbarIcon {
      margin-right: 40px;
    }
  }

  .welcomeUser {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $color-secondary;
  }

  .avatarView {
    display: flex;
    align-items: center;

    .profileUser {
      position: relative;

      > div {
        display: flex;
        align-items: center;
        margin-right: 64px;
      }

      .avatar {
        width: 39.92px;
        height: 39.92px;
        border-radius: 100%;
      }

      .titleProfile {
        margin-left: 16px;
        font-weight: 700;
        font-size: 16px;
        color: $color-secondary;
      }
    }
  }
}

.mainAuthHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 50px;
  position: relative;
  background: $color-black4;
  // max-height: 60px;
  box-sizing: border-box;
}

.btnLogout {
  display: flex;
  align-items: center;

  span {
    font-weight: 700;
    font-size: 16px;
    color: $color-primary-light;
  }

  svg {
    margin-left: 8px;
  }
}
