@import '../../../../styles/variables.scss';

.form {
  border-radius: 8px;

  :global {
    .ant-form-item-label > label {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      color: $black_color;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    .ant-modal-content {
      border-radius: 16px;
      padding: 20px;
    }
  }
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.editBtn {
  background-color: $white_color;
  border: 1px solid $color-primary;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;

  span {
    color: $color-primary;
  }

  &:hover,
  &:focus {
    background-color: $white_color;
    border: 1px solid $color-primary;

    span {
      color: $color-primary;
    }
  }
}

.cancelBtn {
  background-color: $background_button_light !important;

  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;

  span {
    color: $grey_900 !important;
  }

  &:hover,
  &:focus {
    background-color: $background_button_light !important;

    span {
      color: $grey_900 !important;
    }
  }
}

.datePickerLabel {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: $black_color;
  margin-bottom: 8px;
}
