.container {
  background-color: #fafafa;
}

.consentsWrap {
  max-width: 1075px;
  margin: 40px auto 0;

  > h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #202225;
  }

  > div {
    background: #fff;
  }
}
