@import '../../../../../styles/variables.scss';

.container {
  padding: 0 40px 40px;

  > div:first-child {
    background-color: #ffffff;
    border: 1px solid #f6f6f6;
    box-shadow: 0px 5px 40px #092c4c05;
    border-radius: 8px;
  }
}

.header {
  flex-flow: nowrap;
  text-align: center;
  div {
    font-weight: 700;
    font-size: 12px;
    color: #202225;
    border-bottom: 1px solid #f6f6f6;
  }
}

.companyName {
  flex: 1;
  padding: 16px;
}

.companyCreatedDate {
  flex: 206px 0 0;
  padding: 16px;
}

.companyAction {
  flex: 206px 0 0;
  padding: 16px;
  display: flex;
  align-items: center;
}

.body {
  text-align: center;
  > div {
    padding: 16px;
  }
  .companyName {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 400;
      font-size: 14px;
      color: #828282;
    }
  }

  .companyCreatedDate {
    font-weight: 400;
    font-size: 14px;
    color: #828282;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.arrow svg {
  cursor: pointer;
  width: 12px;
  path {
    fill: #828282 !important;
  }
}

.btnDelete,
.btnEdit,
.btnSave {
  border-radius: 4px;
  padding: 0 10px;
  font-weight: 700;
  font-size: 14px;
  color: #cf2a2b;
  display: inline-block;
  cursor: pointer;
}

.applicationWrap {
  padding: 16px 32px;

  .table {
    border: 1px solid #f6f6f6;
    border-radius: 10px;
    > div {
      padding: 16px;
    }
    > div:not(:last-child) {
      border-bottom: 1px solid #f6f6f6;
    }

    .arrow {
      margin-left: 10px;
    }

    .appName {
      font-size: 14px;
      color: #202225;
      cursor: pointer;
    }
  }

  .appInfo {
    padding: 16px 0;
    margin-bottom: 3px;

    .appInfoName {
      font-size: 12px;
      color: #202225;
      cursor: pointer;
      margin-bottom: 10px;
    }
  }

  h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #202225;
    margin-bottom: 10px;
  }
}

.btnLoadMore {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: #202225;
  cursor: pointer;
  margin-top: 18px;
}

.formAddNew {
  margin-top: 32px;

  .divRow {
    gap: 15px;
    flex-flow: nowrap;
  }

  :global {
    .ant-form-item {
      flex: 1;
    }

    input {
      border-color: #202225 !important;
    }
  }
}

.infoWrap {
  padding-left: 10px;

  > div {
    margin-bottom: 10px;
  }
  > div:not(:first-child) {
    margin-bottom: 10px;
  }

  .label {
    font-weight: 700;
    font-size: 12px;
    color: #202225;
    margin-bottom: 5px;
  }

  .content {
    border: 1px solid #cecdcd;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    color: #989898;
  }
}

.pagination {
  margin-top: 24px;
}

.editForm {
  display: flex;
  align-items: center;
  gap: 16px;
  :global {
    .ant-form-item {
      width: 400px;
    }
  }
}

.addBtn {
  background-color: #d6d6d6;
  margin-top: 7px;

  &:hover,
  &:focus {
    background-color: #d6d6d6 !important;
    color: black;
    border-color: black;
  }
}

.noResultText {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.btnCancel {
  background-color: $color-gray3;
  border-radius: 100px;
  color: $color-primary-light;

  &:focus {
    background-color: $color-gray3;
    border-radius: 100px;
    color: $color-primary-light;
  }

  &:hover {
    background-color: $color-gray3;
    border-radius: 100px;
    color: $color-primary-light;
    border-color: $color-gray3;
  }
}
.deleteBtn {
  background-color: $color-primary;
  border-radius: 100px;
  color: $color-primary-light;

  &:focus {
    background-color: $color-primary;
    border-radius: 100px;
    color: $color-primary-light;
  }

  &:hover {
    background-color: $color-primary;
    border-radius: 100px;
    color: $color-primary-light;
  }
}

.paginationApp {
  margin-top: 10px;
}

.btnAddApi {
  color: white;
  border: none;
  background-color: black;
  border-radius: 100px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}

.applicationAction {
  display: flex;
  align-items: center;
}

.apiOverview {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #828282;
  font-size: 16px;
  .method {
    color: white;
    font-weight: bold;
    padding: 6px 16px;
    width: 77px;
    border-radius: 100px;
    text-align: center;
  }

  .delete {
    background-color: #cf2a2b;
  }

  .put,
  .patch {
    background-color: #e2b93b;
  }

  .post {
    background-color: #27ae60;
  }

  .get {
    background-color: #2f80ed;
  }
}

.endpointActions {
  display: flex;
  align-items: center;
}

.endpointItem {
  border: 1px solid #f6f6f6;
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 0 8px;

  .appInfoName {
    margin-bottom: 0 !important;
  }
}

.deleteEndpointItem {
  background-color: rgba(207, 42, 43, 0.07);
  color: #cf2a2b;
  border: 1px solid #cf2a2b;
}

.postEndpointItem {
  background-color: rgba(#27ae60, 0.07);
  color: #27ae60;
  border: 1px solid #27ae60;
}
.putEndpointItem,
patchEndpointItem {
  background-color: rgba(#e2b93b, 0.07);
  color: #e2b93b;
  border: 1px solid #e2b93b;
}

.getEndpointItem {
  background-color: rgba(#2f80ed, 0.07);
  color: #2f80ed;
  border: 1px solid #2f80ed;
}
