@import '../../../../styles/variables.scss';

.dsHistoryWrap {
  max-width: 1075px;
  margin: 70px auto;
}

.header {
  margin-bottom: 24px;
  > div:first-child {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $color-secondary;
  }
}

.dataSubjectContent {
  text-align: center;
  // background: #FFFFFF;
  border: 1px solid #F6F6F6;
  box-shadow: 0px 5px 40px rgba(9, 44, 76, 0.02);
  border-radius: 8px;
}

.btnSeeMore {
  background: #092c4c1a;
  border-radius: 4px;
  padding: 11px;
  cursor: pointer;
}

.dataSubjectContentEmpty {
  .table {
    display: none;
  }
}

.table {
  text-align: center;

  :global {
    .ant-table-pagination.ant-pagination {
      margin: 24px 0;
    }
    .ant-table-thead {
      background-color: $color-secondary;

      .ant-table-cell {
        border-bottom: 1px solid transparent;
        background-color: $color-secondary;
        font-weight: 400;
        font-size: 16px;
        color: $color-white;
      }

      .ant-table-cell:nth-child(2) {
        border-bottom: 1px solid transparent;
      }

      .ant-table-cell:not(:last-child) {
        border-right: 1px solid transparent;
      }

      tr:last-child {
        .ant-table-cell:nth-child(2) {
          border-right: 1px solid transparent;
        }
      }
    }

    .ant-table-cell {
      text-align: center;
      vertical-align: middle;
      font-size: 18px;
      line-height: 21px;
      color: $black_color;
    }

    .ant-table-tbody {
      .ant-table-cell {
        padding: 12px;
      }
      > tr.ant-table-row td {
        border-bottom: 1px solid transparent;
      }
      > tr.ant-table-row td:not(:last-child) {
        border-right: 1px solid transparent;
      }
    }
  }
}

.btnForgotMe {
  padding: 10px 24px;
}
