@import '../../../../styles//variables.scss';

.consentsWrap {
  max-width: 1075px;
  margin: 40px auto 0;
}

.consentsSearch {
  background-color: $color-white;
  padding: 32px;
  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $color-secondary;
  }

  form {
    flex: 1;
  }

  input {
    border: none !important;
    outline: none !important;
    background-color: $color-gray6 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  :global {
    .ant-form-item {
      flex: 1;
    }
  }
}

.formSearchItem {
  :global {
    .ant-form-item-explain {
      position: absolute;
      top: 38px;
    }

    .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:focus {
      box-shadow: none;
    }
  }
}

.searchContent {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 15px;
  background-color: $color-gray6 !important;
  svg {
    margin-right: 18px;
    path {
      fill: #bdbdbd !important;
    }
  }
}

.searchBox {
  position: relative;
  right: 15px;
  > div:first-child {
    padding: 11.5px 24px;
    // height: 44px;
    background: #fcfcfc;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
  }
}

.searchBox {
  flex: 1;
  // padding: 0 15px 0 90px;
}

.btnSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;

  svg {
    margin-right: 10px;
  }

  &:focus {
    background-color: $color-secondary;
  }
}

.btnCreateCase {
  padding: 10px 24px;
}

.consentWrap {
  margin-top: 21px;
}

.listConsent {
  background: $color-white;
  margin-bottom: 24px;
  padding-bottom: 24px;

  > div:first-child {
    margin-bottom: 24px;
  }

  > div:nth-child(2) {
    padding: 0 24px;
  }

  :global {
    .ant-collapse-header-text {
      flex: 1;
    }
    .ant-collapse-expand-icon svg {
      margin: 0 !important;
    }
    .ant-collapse.ant-collapse {
      border: none;
      padding: 24px 24px 0;
      background-color: $color-white;
      box-shadow: 0px 5px 40px rgba(9, 44, 76, 0.02);
      border-radius: 8px;
      .ant-collapse-item {
        background: #ffffff;
        border: 1px solid #f6f6f6;
        border-radius: 8px;
      }
      .ant-collapse-item:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    .ant-collapse-content {
      border: none;
    }
    .ant-collapse-item > .ant-collapse-header {
      flex-direction: row-reverse;
      align-items: center;
      padding: 16px 24px;
    }
    .ant-collapse-item-active > .ant-collapse-header {
      background: rgba(9, 44, 76, 0.03);
    }

    .ant-checkbox-group {
      display: flex;
      flex-direction: column;
    }

    .ant-checkbox-wrapper {
      margin: 0 !important;
      padding: 28px 27px !important;
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid $color-gray6;
      }

      h4 {
        font-weight: 700;
        font-size: 16px;
        color: $color-secondary;
        margin-bottom: 8px;
      }

      h4 + div {
        font-weight: 400;
        font-size: 14px;
        color: #828282;
      }
    }

    .ant-collapse-content-box {
      padding: 0;
    }

    .ant-checkbox + span {
      padding: 0;
      margin-left: 20px;
    }
  }
}

.panelHeader {
  margin-right: auto;
}

.panelContent {
  background-color: $color-white;
}

.name {
  font-weight: 700;
  font-size: 18px;
  color: $color-secondary;
  margin-bottom: 2px;
}

.btnSave, .btnGenerateLink {
  padding: 10px 46px;
}

.btnGenerateLink {
  margin-left: 10px;
}

.textLink {
  margin: 20px 0 0;
  background: $color-white;
  border: 1px solid #dadada;
  box-shadow: 0px 5px 40px #09284605;
  border-radius: 8px;
  padding: 18px 10px;
  cursor: pointer;
  word-break: break-all;
}

.consentInfo {
  font-weight: 400;
  font-size: 12px;
  color: #000;
  margin: 6px 0 27px;

  div:nth-child(2) {
    margin: 0 30px 0 60px;
  }

  div:nth-child(3) {
    color: $color-warning;
  }

  .active {
    color: $color-success !important;
  }
}


.description {
  font-weight: 400;
  font-size: 16px;
  color: $color-secondary;
}

.pagination {
  margin-left: auto;
}

.noResultText {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}
