@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: row;
}

.siderView {
  padding: 50px 0 60px;
  .logo {
    text-align: center;
  }
  background-color: $color-black4;

  :global {
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
    }
    .ant-menu-root {
      background-color: $color-black4;
      padding: 42px 0 0;
    }

    .ant-menu-title-content {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $color-gray3;
    }

    .ant-menu-item.ant-menu-item {
      height: initial;
      padding: 10px 20px 10px 42px !important;
      margin: 0;
      background-color: transparent !important;

      > svg {
        margin: 0 10px 0 0;
      }

      &:hover {
        .icon-reports path {
          fill: $color-white !important;
        }
        .icon-profile path,
        .icon-data-subject path,
        .icon-case-management path {
          stroke: $color-white !important;
        }

        .ant-menu-title-content {
          color: $color-white;
        }
      }
    }

    li.ant-menu-item.ant-menu-item-selected {
      background-color: rgba($color: #ffffff, $alpha: 0.1) !important;

      .icon-reports path {
        fill: $color-white !important;
      }
      .icon-profile path,
      .icon-data-subject path,
      .icon-case-management path {
        stroke: $color-white !important;
      }

      .ant-menu-title-content {
        color: $color-white;
        font-weight: 700;
        font-size: 16px;
      }
      &::after {
        display: none !important;
      }
    }
    li.ant-menu-submenu.ant-menu-submenu-inline {
      margin: 0;
      padding: 10px 20px 10px 42px !important;
      &:hover,
      &:focus {
        > .ant-menu-submenu-title {
          svg path {
            stroke: $color-white;
          }
          .ant-menu-title-content {
            color: $color-white;
          }
        }
      }
      .ant-menu-submenu-title {
        svg {
          margin: 0 10px 0 0;
        }
      }

      &.ant-menu-submenu-open.ant-menu-submenu-selected {
        > .ant-menu-submenu-title {
          svg path {
            stroke: $color-white;
          }
          .ant-menu-title-content {
            color: $color-white;
          }
        }
      }
    }
    .ant-menu-submenu {
      margin-bottom: 25px;
      .ant-menu-submenu-title {
        margin: 0 !important;
        padding: 0 !important;
        background-color: transparent !important;
        height: initial;
      }
      .ant-menu-submenu-arrow {
        display: none !important;
      }

      .ant-menu-sub {
        background-color: transparent !important;
        padding: 10px 0 0 22px;
        .ant-menu-item {
          height: initial;
          padding: 0 !important;
          margin: 0;
          background-color: transparent !important;
          .ant-menu-title-content {
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
          }

          &:hover .ant-menu-title-content {
            color: $color-white;
          }

          &:not(:last-child) {
            margin: 0 0 20px !important;
          }
        }
      }
    }
  }
}

.menu2 {
  margin-top: auto;
  padding: 0 !important;
  border: none !important;

  :global {
    .ant-menu-item.ant-menu-item {
      height: initial;
      padding: 10px 20px 10px 42px !important;
      margin: 0;
      background-color: transparent !important;
      display: flex;
      align-items: center;
      > svg {
        margin: 0 10px 0 0;
      }

      &:first-child {
        .ant-menu-title-content {
          color: $color-primary !important;
        }
        svg path {
          stroke: $color-primary !important;
        }
      }

      &:last-child:hover {
        svg path {
          stroke: $color-white !important;
        }
      }
    }
  }
}

.layoutAuthContent {
  background-color: $color-primary-light;
}
