@import '../../../styles/variables.scss';

.wrap {
  padding: 40px;
  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #202225;
    margin: 0 0 30px;
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #828282;
    margin: 0 0 12px;
  }
}

.arrow svg {
  cursor: pointer;
  width: 12px;
}

.FeatureItem {
  padding: 30px 20px;
  margin: 0 0 35px;
  background: #ffffff;
  border: 1px solid #f6f6f6;
  box-shadow: 0px 5px 40px rgba(9, 44, 76, 0.02);
  border-radius: 8px;

  .featureAppName {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #202225;
  }

  .featureWrap:not(:last-child) {
    margin-bottom: 15px;
  }

  .featureWrapActive {
    margin-bottom: 30px;
  }
}

.featureWrap {
  background: #ffffff;
  .featureName {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
  }
}
.featureWrapActive {
  background: rgba(9, 44, 76, 0.03);
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  .FeatureItemContent {
    border-radius: 0;
  }
}

.FeatureItemContent {
  padding: 12px 32px;
  background: rgba(9, 44, 76, 0.03);
  border-radius: 8px;
}

.content {
  background: #ffffff;
  padding: 20px 32px;

  .textAddNew {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
  }

  .formInput {
    margin-bottom: 30px;
    gap: 15px;
    > div:first-child {
      flex: 1;
    }

    input {
      padding: 5px 10px;
      height: 44px;
      background: #fcfcfc;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
    }
  }

  h4 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
  }
}

.list {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;

  .item {
    padding: 4px 10px;
    background: #f6f6f6;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-right: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #828282;
    margin-bottom: 8px;
  }

  .btnClose {
    cursor: pointer;
  }
}

.addBtn {
  height: 44px;
  padding: 9px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    line-height: 10px;
  }

  &:focus,
  &:focus-visible {
    background: #202225;
  }
}

.btnCancel {
  background-color: $color-gray3;
  border-radius: 100px;
  color: $color-primary-light;

  &:focus {
    background-color: $color-gray3;
    border-radius: 100px;
    color: $color-primary-light;
  }

  &:hover {
    background-color: $color-gray3;
    border-radius: 100px;
    color: $color-primary-light;
    border-color: $color-gray3;
  }
}
.deleteBtn {
  background-color: $color-primary;
  border-radius: 100px;
  color: $color-primary-light;

  &:focus {
    background-color: $color-primary;
    border-radius: 100px;
    color: $color-primary-light;
  }

  &:hover {
    background-color: $color-primary;
    border-radius: 100px;
    color: $color-primary-light;
  }
}
